<div class="container">
    <div class="card-columns">
        <div class="card" style="width: 15rem;">
            <h4 class="card-header"> בשר</h4>
            <!-- <h2 class="card-title">בשר</h2> -->
            <table class="table table-striped">
                <thead dir>
                    <tr>
                        <th>מוצר</th>
                        <th>כמות</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="card" style="width: 15rem;">
            <h4 class="card-header"> ירקות</h4>
            <table class="table table-striped">
                <thead dir>
                    <tr>
                        <th>מוצר</th>
                        <th>כמות</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="card" style="width: 15rem;">
            <h4 class="card-header"> קפואים</h4>
            <table class="table table-striped">
                <thead dir>
                    <tr>
                        <th>מוצר</th>
                        <th>כמות</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="card" style="width: 15rem;">
            <h4 class="card-header"> יבש</h4>
            <table class="table table-striped">
                <thead dir>
                    <tr>
                        <th>מוצר</th>
                        <th>כמות</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="card" style="width: 15rem;">
            <h4 class="card-header"> קירור</h4>
            <table class="table table-striped">
                <thead dir>
                    <tr>
                        <th>מוצר</th>
                        <th>כמות</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="card" style="width: 15rem;">
            <h4 class="card-header"> חד"פ</h4>
            <table class="table table-striped">
                <thead dir>
                    <tr>
                        <th>מוצר</th>
                        <th>כמות</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="card" style="width: 15rem;">
            <h4 class="card-header"> שתיה</h4>
            <table class="table table-striped">
                <thead dir>
                    <tr>
                        <th>מוצר</th>
                        <th>כמות</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="card" style="width: 15rem;">
            <h4 class="card-header"> אחר</h4>
            <table class="table table-striped">
                <thead dir>
                    <tr>
                        <th>מוצר</th>
                        <th>כמות</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>